@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: url("../imgs/caboclo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main";
}
body header {
  background-color: black;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  flex-wrap: wrap;
}
.title-header {
  color: white;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  align-items: center;
}
.menu-header {
}
.main-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style-type: none;
}

.box-paragraph {
  background-color: white;
  border-radius: 30px;
  margin: 20px;
  width: 150vh;
  height: 10vh;
}
.first-paragraph {
  position: relative;
  top: 8px;
  padding: 0px 0px 15px 30px;
  text-align: left;
}
iframe {
  margin: 10px;
}

section {
  padding: 10px;
}

h2,
li {
  color: white;
}
i {
  position: relative;
  left: 95.5%;
}
.fa-youtube-play {
  position: relative;
  left: 96%;
}
@media (max-width: 480px) {
  /* Smartphone */
  iframe {
    width: 480px;
  }
}
